html, body{padding: 0; margin: 0;}

body {
  font-family: Trebuchet MS, Palatino, sans-serif;
  color: black;
}

a:link img, a:visited img {
   border-style: none


}

#hd {height: 130px; background-color: black; border-bottom: 5px solid #666; position: relative;}

#hd *{margin: 0; padding: 0;}

#hd ul{position: absolute; top: 0; right: 1em; background-color: #666; line-height: 2em; padding: 9px; font-size: 93%; text-align: center; -moz-border-radius-bottomleft: 1em; -moz-border-radius-bottomright: 1em;}

#hd li{display: inline; padding: 0.6em;}

#hd li a:link{color: white;}
#hd li a:hover{color: yellow;}

#content, #ft {padding: 1em;}

#ft{background-color: #ececec; border-top: 3px solid #333;}

hr, .netscape4 {display: none !important;}
