<h2>Free Culture!</h2>

<p>Starting this Thanksgiving I am going to create a complete body of
works called CNUK (for CNUK's New Ubiquitous Kulture) and give them away
under an Attribution ShareAlike license to everyone who can use them.
Contributions of time, money, contributions and equipment are greatly
needed.</p>

<p>To begin with, CNUK will be a book plus a collection of images and
other creative works I have created: photographs, music and a few
other things.  After this we will add a film, a TV show, a video game
and hundreds of other things.  I hope to supply, eventually,
everything useful that normally qualifies as a culture, and anything
else useful, including a community, software and hardcopies of works.</p>

<p>CNUK will be similar to cultural works but will not be identical to
existing culture.  We will make all improvements that are convenient,
based on our experience with other creative outputs.  In particular,
we plan to have funnier shows, better licensing, prettier photos,
nicer shapes, rounded corners and, eventually a Lisp-based editor for
creative works through which several Lisp programs and ordinary
creative works can share a screen.  We will have internet based
discussion mailing lists. We may also have something akin to a forum.</p>

<h2>Who Am I?</h2>

<p>I am <a href="http://matt.lee.name/">Matt Lee</a>, creator of the much-imitated Attitude Cat comic strip,
now kind of hanging around near the former Artificial Intelligence Lab
at MIT.  I have worked extensively on screenplays, albums, parodies,
sitcoms, the book 'Exploring Freedom' and work for the GNU operating
system.  I pioneered comedy on the web in 1996.  In addition I have
implemented one palindromic short story and two freely licensed albums
with my band, furny.</p>


<h2>Why I Must Create CNUK</h2>

<p>I consider that the golden rule requires that if I like a creative
work I must be able to share it with other people who like it.  I
cannot in good conscience sign a nondisclosure agreement or a
restrictive license agreement.</p>

<p>So that I can continue to be creative without violating my principles,
I have decided to put together a sufficient body of free culture so that
I will be able to get along without any creative works that are not free.</p>

<h2>How You Can Contribute</h2>

<p>I am asking artists and creative people for donations of works and
money.  I'm asking non-creative people for donations of time.</p>

<p>One artist has already offered to provide a body of freely licensed
editable artwork.  But I could use more.  One consequence you can
expect if you donate creative work is that CNUK will use them at an
early date.  The artwork should be editable by anyone using free
software tools, and not require proprietary software or plugins.</p>

<p>Individual artists can contribute by producing a useful alternative of
some existing creative work and giving it to me.  For most projects,
such part-time distributed work would be very hard to coordinate; the
independently-created parts would not fit together.  But for the
particular task of creating cultural works, this problem is absent.</p>

<p>If I get donations of money, I may be able to hire a few artists part
time to create specific works.  The money won't be high, but I'm
looking for people for whom knowing they are helping humanity is as
important as money.  I view this as a way of enabling dedicated people
to devote their full energies to working on CNUK by sparing them the
need to make a living in another way.</p>



<hr>
<p>$Id: index.html 25 2008-10-14 04:17:15Z mattlee $</p>

<p>Verbatim copying and distribution is permitted in any medium, provided this notice is preserved.</p>

<p>Copyright &copy; 2008 Free Culture Foundation.</p>

</body> </html>
